@import url('https://fonts.loli.net/css?family=Noto+Sans+Mono');
@import url('https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css');

.app {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    transition: background-color 0.2s;
    transition: color 0.2s;

    background: #FAFAFA;
    color: #212121;
}

.dark {
    background: #121212;
    color: #E0E0E0;
}

.app * {
    font-family: "Noto Sans Mono", sans-serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header>* {
    margin: 0 5px;
}

header .MuiSelect-select  {
    padding-top: 4px;
    padding-bottom: 2px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 0 5px 0;
    width: 300px;
    margin: auto;
}

footer > div {
    display: flex;
    align-items: center;
}

table {
    margin: auto;
}

td {
    padding: 2px 4px;
}

td.word {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.selectd>td {
    font-weight: bold;
}

.mask .word1, .mask .word2 {
    filter: blur(10px);
}

.selectd td {
    background: #0000001f;
    border-radius: 2px;
}

.dark .selectd td {
    background: #ffffff26;
}

.table-box {
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding: 10px 0 10px 0;
}

.table-box > div {
    display: flex;
    margin: auto;
}

.word2 {
    font-family: "Noto Sans Mono", 'LXGW WenKai Screen', sans-serif;
}

.root {
    margin: 15px 0 10px 0;
    text-align: center;
    font-weight: bold;
}

.word span {
    display: flex;
    width: fit-content;
    align-items: center;
}

.highlight-base {
    color: #3f51b5;
    background-color: #e3f2fd;
    padding: 0 1px;
    border-radius: 3px;
}

.highlight-word {
    background-color: #e3f2fd;
    border-radius: 3px;
    padding: 1px;
    color: #854d4d;
}

.highlight-word > .highlight-base {
    background-color: unset;
    padding: 0;
}

.dark .highlight-base {
    background-color: #263238;
    color: #5e7cec;
}

.dark .highlight-word {
    background-color: #374362;
    color: unset;
}

.word_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-height: calc(100% - 80px);
}
